#products {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  margin: 2vw auto;
}

.prodCard {
  display: inline-block;
  margin: 2vw;
  padding: .4vw;
  max-width: 24vw;
  h3 {
    display: inline-block;
    font-size: 2vw;
    border-bottom: .1vw solid black;
  }
  h5 {
    display: inline-block;
    font-size: 1vw;
    text-align: center;
  }
  img {
    display: block;
    width: 100%;
    height: 300px;
    margin: .2em auto;
    border-radius: 20px;
    // padding: 10px;
    box-shadow: 10px 5px 10px #888888;
  }
}

.nav {
  background-color: white;
}
#header-container{
  padding-left: 140px;
  padding-right: 140px;
}
.headerleft {
  height: 146px;
  min-width:400px;
  width: 50%;
  float: left;
  padding-right: 15px;
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.headerdiv {
  height: 200px;
  width:100%;
  padding-top: 0px;
  padding-bottom: 17px;
  padding-left: 65px;
  padding-right: 65px;
}
.header-right {
  width: 40%;
  height: 146px;
  float: right;
  border-left: 2px solid #c5c6c8;
  padding-left: 15px;
}
.headerright1 {
  height: 40px;
  width: 100%;
  text-align: justify;
  vertical-align: bottom;
  padding-top: 7px;
}
.contact {
 text-decoration: underline overline;
}

.img-responsive {
  max-width: 30%;
  max-height: auto;
  margin-bottom: 10;
}
.navbar.navbar-default {
  background-color: #99ccff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ship-strip {
  background-color: #312525;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-align: center;
}

.strip {
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.hero {
  max-width: 100%;
  max-height: auto;
  margin-bottom: 10;
}

//modal modal modal

// #myImg {
//   border-radius: 5px;
//   cursor: pointer;
//   transition: 0.3s;
// }

// #myImg:hover {opacity: 0.7;}

// /* The Modal (background) */
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   padding-top: 100px; /* Location of the box */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
// }

// /* Modal Content (image) */
// .modal-content {
//   margin: auto;
//   display: block;
//   width: 80%;
//   max-width: 700px;
// }

// /* Caption of Modal Image */
// #caption {
//   margin: auto;
//   display: block;
//   width: 80%;
//   max-width: 700px;
//   text-align: center;
//   color: #ccc;
//   padding: 10px 0;
//   height: 150px;
// }

// /* Add Animation */
// .modal-content, #caption {    
//   -webkit-animation-name: zoom;
//   -webkit-animation-duration: 0.6s;
//   animation-name: zoom;
//   animation-duration: 0.6s;
// }

// @-webkit-keyframes zoom {
//   from {-webkit-transform: scale(0)} 
//   to {-webkit-transform: scale(1)}
// }

// @keyframes zoom {
//   from {transform: scale(0.1)} 
//   to {transform: scale(1)}
// }

// /* The Close Button */
// .close {
//   position: absolute;
//   top: 15px;
//   right: 35px;
//   color: #f1f1f1;
//   font-size: 40px;
//   font-weight: bold;
//   transition: 0.3s;
// }

// .close:hover,
// .close:focus {
//   color: #bbb;
//   text-decoration: none;
//   cursor: pointer;
// }

// /* 100% Image Width on Smaller Screens */
// @media only screen and (max-width: 700px){
//   .modal-content {
//       width: 100%;
//   }
// }